
.buttonText {
    text-transform: none;
    font-family: Jura;
    color: #7290a1;
}

.topButtonText {
    text-transform: none;
    font-family: Jura;
    color: #7290a1;
    font-Size: 3vh;
}

.contactInfo{
    text-transform: none;
    padding-left: 1vh;
    font-family: Jura;
    color: #7290a1;
}

.fusionButtonText {
    text-transform: none;
    color: #f5d787;
    font-family: Jura;
}

.appBar {
    background-color: #101213;
}

.bigPaper {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 9vh;
    padding-right: 9vh;
    padding-top: 5vh;
    padding-bottom: 5vh;

}

.smallPaper{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin: 5vh;
}

.title {
    font-size: 6vh;
    font-weight: bold;
    text-align: center;
    font-family: Onest
}

.text {
    font-size: 3vh;
    text-align: center;
    font-family: Onest;
}

.importantText {
    color: #42738f;
    font-weight: 900;
}

.aboutMeText {
    font-size: 2vh;
    text-align: left;
    font-family: Onest;
}

body, html {
    margin: 0;
    padding: 0;
}