
.buttonText {
    text-transform: none;
    font-family: Jura;
    font-size: 3vh;
    color: #7290a1;
}

.contactInfo{
    text-transform: none;
    padding-left: 1vh;
    font-family: Jura;
    font-size: 2vh;
    color: #7290a1;
}

.fusionButtonText {
    text-transform: none;
    font-size: 3vh;
    color: #f5d787;
    font-family: Jura;
}

.appBar {
    background-color: #101213;
}

.bigPaper {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5vh;
}

.smallPaper{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 3vh;
    padding-right: 3vh;
    margin: 5vh;
    height: 10vh;
}

.title {
    font-size: 8vh;
    font-weight: bold;
    font-family: Onest
}

.text {
    font-size: 3vh;
    text-align: center;
    font-family: Onest;
}

.aboutMeText {
    font-size: 2vh;
    text-align: left;
    font-family: Onest;
}